<!DOCTYPE html>
<html>
<hello name="{{ name }}"></hello>

<body>
  <title> Welcome to this testing page</title>
  <h1>Hello this is just for testting </h1>

  <div class="Intro">
    <p>Start editing to see some magic happen :)
      <br>Shannon is my girlfriend
      <br> So this is how you break the line
    </p>
  </div>

  <div class="Video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/w1J91IKwBA0" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <input type="file">
  <div>

  </div>
</body>

</html>